.bg-container{
    border-width:3px;
    border-color: rgb(28, 31, 31);
    background-color: rgb(255, 246, 127);
}

.top-secton-container{
    margin: 20px;
}

.covid-19-test-container{
    background-color: aqua;
    margin: 20px;
    border-radius: 10px;
}


    
    
   

.symptoms-heading{
    margin: 20px;


}
.symptom1{
    text-align: center;
    border-radius: 10px;
    background-color:#3ebd93;
    height:100px;
    width: 100px;
    margin: 20px; 
}

.symptom2{
    text-align: center;
    border-radius: 10px;
    background-color:#3ebd93;
    height:100px;
    width: 100px;
    margin: 20px; 
}

.symptom3{
    text-align: center;
    border-radius: 10px;
    background-color:#a368fc;
    height:100px;
    width: 100px;
    margin: 20px; 
}
.symptom-name{
    padding: 10px;
}

.symptom-image{

    padding: 5px;
}

.symptom-name{
    color: white;
}

.doctor-card{
    background-color: #e12d3919;
    margin: 20px;
    border-radius: 10px;
}
.vedios-heading{
    padding: 20px;
}

.virus-image{
    width: 100px;
    margin: 20px;
}

.doctor-image{
    width: 100px;
    height: 50px;
    margin: 20px;
}

.doctor-card-container{
    margin: 20px;
}




